//- 这里引入组建的顺序决定了组件的排列顺序
if site.data.about
    #about-page
        include ../widgets/page/about/authorinfo
        include ../widgets/page/about/contentinfo
        include ../widgets/page/about/skillsinfo
        include ../widgets/page/about/personalities
        include ../widgets/page/about/motto
        include ../widgets/page/about/like
        include ../widgets/page/about/game
        include ../widgets/page/about/other
        include ../widgets/page/about/tenyear
        include ../widgets/page/about/award